[Unit]
Description=Run pi-op-react every 60min
Requires=pi-op-react.service

[Timer]
OnBootSec=15min
OnUnitActiveSec=60min
Persistent=true
Unit=pi-op-react.service

[Install]
WantedBy=timers.target
