[Unit]
Description=Run pi-op-health every hour
Requires=pi-op-health.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true
Unit=pi-op-health.service

[Install]
WantedBy=timers.target
